* {
  scroll-behavior: smooth;
}
body {
  background: #e1e0d1;
  font: 1em sans-serif;
  animation-duration: 3s;
  animation-name: slidein;
}
.change-color {
  background-color: rgba(19, 19, 20, 0.965);
  color: rgb(223, 215, 215);
}
.header {
  background: #333;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding-bottom: 1%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
.header a {
  color: #c0c0c0;
  text-decoration: none;
}
.header small {
  letter-spacing: 1.3177159590043923vw;
  font-size: 1.7em;
  font-weight: bold;
}
.menu-icon {
  display: none;
}
.switch-header {
  display: inline-block;
  text-align: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
}
.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
}
input:checked + .slider {
  background-color: #4f614f;
}
input:checked + .slider::before {
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round::before {
  border-radius: 50%;
}
.navigation ul li {
  display: inline-block;
}
.navigation ul li a {
  display: block;
  padding: 0.5rem 0.5rem;
  transition: all 0.4s linear;
  transition: transform 0.5s;
  border-radius: 15px;
}
.navigation a:hover {
  transform: scale(1.2, 1.2);
  background: #908c38;
}
.banner {
  background: #2e322e;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 4%;
  padding-top: 10%;
}
.banner p {
  display: inline-block;
  white-space: pre-line;
  font-size: 28px;
  font-weight: bold;
  padding: 2%;
  margin: 0;
}
.Acerca {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0% 5% 0% 5%;
}
.Acerca h3 {
  text-align: center;
  padding-bottom: 5%;
}
.Acerca p {
  white-space: pre-line;
}
.content-acerca {
  padding: 8% 0 19% 0;
}
.content-portafolio {
  padding: 4% 0 4% 0;
}
.content-servicios {
  padding: 4% 0 6% 0;
}
h2 {
  text-align: center;
  padding: 6%;
  padding-bottom: 2%;
  margin: 0;
}
.line {
  width: 90%;
  height: 1px;
  background: #c0c0c0;
  margin: 0 auto;
}
figure {
  border: thin #c0c0c0 hidden;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 45.52352048558422vh;
  margin: auto;
  cursor: pointer;
}
figcaption {
  background-color: #333;
  color: #c0c0c0;
  font: italic smaller sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding: 3px;
  text-align: center;
  margin-top: 3px;
}
.Servicios {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0% 3% 0% 3%;
}
.Servicios img {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 45.52352048558422vh;
  height: 45.52352048558422vh;
  max-width: 45.52352048558422vh;
  max-height: 45.52352048558422vh;
  border-radius: 50%;
}
.Portafolio-Images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 8%;
  padding-right: 8%;
}
.Portafolio img {
  max-width: 45.52352048558422vh;
  max-height: 45.52352048558422vh;
  padding-top: 5%;
}
.footer {
  margin-left: 5%;
  margin-right: 5%;
}
form {
  margin: 0 auto;
  width: 60.69802731411229vh;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  text-align: center;
}
form div + div {
  margin-top: 1em;
}
label {
  display: block;
}
select {
  text-align: center;
}
input,
textarea,
select {
  cursor: pointer;
  font: 1em sans-serif;
  width: 45.52352048558422vh;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #4f614f;
}
input:focus,
textarea:focus {
  border-color: #000;
}
textarea {
  vertical-align: top;
  height: 5em;
  resize: vertical;
}
button {
  cursor: pointer;
  font-size: 20px;
}
input[type="email"] {
  -webkit-appearance: none;
  margin: 0;
  font-family: inherit;
  font-size: 90%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input:invalid {
  border-color: #900;
  background-color: #fdd;
}
input:focus:invalid {
  outline: none;
}
.error {
  width: 100%;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.error.active {
  padding: 0.3em;
}
.Links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 2rem;
  font-size: 60px;
}
.Links a {
  text-decoration: none;
  color: #4f614f;
  transition: transform 0.5s;
}
.Links a:hover {
  transform: translateY(-1rem);
}
.Links i {
  color: #4f614f;
  cursor: pointer;
  transition: transform 0.5s;
}
.Links i:hover {
  transform: translateY(-1rem);
}
@keyframes slidein {
  from {
    margin-left: 99%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@media only screen and (max-width: 770px), (max-width: 1024px) {
  .header {
    padding-left: 30%;
  }
  .showheader {
    padding: 0 40% 0 40%;
    flex-wrap: wrap;
  }
  .switch-header {
    display: none;
  }
  .menu-icon {
    display: inline;
    cursor: pointer;
    color: #4f614f;
    font-size: 50px;
  }
  .navigation ul {
    display: none;
  }
  .navigation ul.show {
    display: inline-block;
  }
  .navigation ul li a {
    display: inline-block;
    transition: all 0.4s linear;
    border-radius: 15px;
  }
  .main {
    padding-top: 9vw;
  }
  .banner {
    justify-content: space-around;
  }
  .banner p {
    padding-top: 0;
  }
  .about {
    padding-left: 5%;
    padding-right: 5%;
  }
  .Servicios {
    padding: 15%;
  }
  .Servicios img {
    max-width: 350px;
    max-height: 350px;
  }
  .Servicios div {
    padding-left: 6%;
    padding-right: 6%;
  }
  form,
  input,
  button,
  textarea,
  select {
    width: 90%;
    align-content: center;
  }

  form {
    padding-left: 0;
    padding-right: 0;
  }
}
