:root{
  scroll-behavior: smooth;
}
body {
  background: #e1e0d1;
  font: 1em sans-serif;
}
.switch-header{
  position: relative;
  right: 48%;
}
.switch-mode{
  margin-top: -2rem;
  margin-left: 1rem;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
}
.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
}
input:checked + .slider {
  background-color: #4f614f;
}
input:focus + .slider::before {
  background-color: #4f614f;
}
input:checked + .slider::before {
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round::before {
  border-radius: 50%;
}
.change-color {
  background-color: rgba(19, 19, 20, 0.965);
  color: rgb(223, 215, 215);
}
.banner {
  height: 300px;
  width: 1334px;
  background: #2e322e;
  color: #fff;
}
.menu-icon{
  display: none;
}
.banner img {
  display: block;
  float: left;
  margin-left: 320%;
  margin-top: -68%;
}
.presentacion {
  width: 300px;
  margin: 10px 50px;
  padding: 70px;
}
.presentacion h1 {
  margin: 0;
  padding: 0;
  font-size: 25px;
}
.header {
  background: #333;
  color: white;
  padding: 1rem 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}
.header a {
  color: #4f614f;
  text-decoration: none;
}
.main {
  padding-top: 8rem;
}
.container h2 {
  letter-spacing: 15px;
  font-size: 1.7em;
  margin-left: 30%;
}
.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation ul li {
  display: inline-block;
}
.navigation ul li a {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  transition: transform 0.5s;
  border-radius: 5px;
}
.navigation a:hover{
  transform: scale(1.1, 1.2);
  background: #908c38;
  margin-top: -2;
  padding-bottom: 14px;
}
.Links a{
  text-decoration: none;
  font-size: 60px;
  color: #4f614f;
  margin-top: 2rem;
  margin-left: 10%;
  margin-right: 10%;
  transition: transform 0.5s;
}
.Links a:hover{
  transform: translateY(-1rem);
}
.Links i{
  font-size: 60px;
  color: #4f614f;
  margin-left: 10%;
}

table {
  width: 100%;
}
.Servicios img {
  width: 320px;
  height: 320px;
  padding: 5px 50px;
  margin: 5px 5px;
  border-radius: 50%;
  float: left;
}
form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}
form div + div {
  margin-top: 1em;
}
label {
  display: inline-block;
  width: 90px;
  text-align: right;
}
input,
textarea,
select {
  cursor: pointer;
  font: 1em sans-serif;
  width: 300px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #4f614f;
}
input:focus,
textarea:focus {
  border-color: #000;
}
textarea {
  vertical-align: top;
  height: 5em;
  resize: vertical;
}
.button {
  padding-left: 90px;
}
button {
  margin-left: 0.5em;
  cursor: pointer;
  font-size: 20px;
}
input[type="email"] {
  -webkit-appearance: none;
  margin: 0;

  font-family: inherit;
  font-size: 90%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:invalid {
  border-color: #900;
  background-color: #fdd;
}
input:focus:invalid {
  outline: none;
}
.error {
  width: 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.error.active {
  padding: 0.3em;
}
h2 {
  text-align: center;
}
.Acerca h3{
  text-align: center;
}
.Servicios h3 {
  text-align: center;
}
.Portafolio img {
  padding: 5px 85px;
  margin: 10px 10px;
}
@media only screen and (max-width: 770px) {
  .header{
    padding: 0.5rem 0;
    margin: 0;
  }
  .switch-mode{
    margin-top: -1rem;
    margin-left: 290%;
  }
  .banner{
    width: 100%;
    height: 300px;
  }
  .presentacion{
    padding: 3px 3px;
  }
  .presentacion img{
    margin-top: -45%;
    margin-left: 120%;
  }
  .container h2{
    display: none;
  }
  .menu-icon{
    display: block;
    cursor: pointer;
    padding: 0.3rem 1rem;
    color: #4f614f;
    font-size: 60px;
  }
  .navigation {
    width: 100%;
    margin-top: 1rem;
  }
  .navigation ul {
    display: none;
  }
  .navigation ul.show{
    display: block;
  }
  .navigation ul li {
    display: block;
  }
  .navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
  }
  .main {
    padding-top: 9rem;
  }
  .Servicios img {
    width: 120px;
    height: 120px;
  }
  .Portafolio img {
    padding: 5px 50px;
    align-items: center;
  }
  .Links a{
    margin-left: 14%;
  }
  .Links i{
    display: block;
    margin-left: 46.5%;
  }
}
@media only screen and (max-width: 705px) {
  .banner{
    width: 104.5%;
  }
}
@media only screen and (max-width: 677px) {
  .banner{
    width: 106.5%;
  }
}
@media only screen and (max-width: 664px) {
  .banner{
    width: 110.5%;
  }
}
@media only screen and (max-width: 635px) {
  .banner{
    width: 119.5%;
  }
}
@media only screen and (max-width: 585px) {
  .switch-mode{
    margin-left: 240%;
  }
  .container h2{
    font-size: 1.3em;
  }
  .banner{
    width: 100%;
    height: 450px;
  }
  .presentacion img{
    margin-top: 0;
    margin-left: 35%;
  }
  .Servicios td{
    display: block;
  }
  .Servicios img{
    margin-left: 30%;
  }
  .Portafolio img{
    margin-left: 16%;
  }
  .Acerca td{
    display: block;
  }
  form {
    width: 290px;
  }
  input,
  textarea,
  select {
    width: 145px;
  }
  .Links a{
    margin-left: 11%;
  }
  .Links i{
    margin-left: 45%;
  }
}
@media only screen and (max-width: 480px) {
  .switch-mode{
    margin-left: 200%;
  }
  .banner{
    width: 100.5%;
    height: 450px;
  }
  .presentacion img{
    margin-top: 0;
    margin-left: 14%;
  }
  .Servicios td{
    display: block;
  }
  .Servicios img{
    margin-left: 20%;
  }
  .Portafolio img{
    margin: 0;
  }
  .Acerca td{
    display: block;
  }
  form {
    width: 250px;
  }
  input,
  textarea,
  select {
    width: 130px;
  }
  .Links a{
    margin-left: 6.5%;
  }
  .Links i{
    margin-left: 40%;
  }
}

@media only screen and (max-width: 380px) {
  .switch-mode{
    margin-left: 180%;
  }
  .Links a{
    margin-left: 5%;
  }
  .Links i{
    margin-left: 40%;
  }
}
@media only screen and (max-width: 324px) {
  .switch-mode{
    margin-left: 150%;
  }
  .banner{
    width: 115%;
    height: 450px;
  }
  .Links a{
    margin-left: 2.6%;
  }
  .Links i{
    margin-left: 38%;
  }
}
@media only screen and (max-width: 290px) {
  .switch-mode{
    display: none;
  }
  .banner{
    width: 132%;
    height: 450px;
  }
  .Links a{
    margin-left: -1%;
  }
  .Links i{
    margin-left: 33%;
  }
}
