* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
body {
  background: #e1e0d1;
  font: 1em sans-serif;
  animation-duration: 3s;
  animation-name: slidein;
}
.change-color {
  background-color: rgba(19, 19, 20, 0.965);
  color: rgb(223, 215, 215);
}
.header {
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 1%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  backdrop-filter: blur(14px);
  background-color: rgba(51, 51, 51, 0.8);
}
.navigation {
  text-align: center;
}
.navigation > ul > li > a, .header > small > a {
  color: #c0c0c0;
  text-decoration: none;
  cursor: pointer;
}
.header > small {
  letter-spacing: 1.3177159590043923vw;
  font-size: 1.7em;
  font-weight: bold;
}
.menu-icon {
  display: none;
}
.switch-header {
  display: inline-block;
  text-align: center;
}
.switch-header > h3, .switch-header > .switch {
  margin-top: 5px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
}
.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
}
input:checked + .slider {
  background-color: #4f614f;
}
input:checked + .slider::before {
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round::before {
  border-radius: 50%;
}
.navigation > ul > li {
  display: inline-block;
}
.navigation > ul > li > a {
  display: block;
  padding: 0.5rem 0.5rem;
  transition: all 0.4s linear;
  transition: transform 0.5s;
  border-radius: 15px;
}
.navigation a:hover {
  background: #908c38;
}
.banner {
  background: #2e322e;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 8%;
  border-radius: 12px;
}
.banner > p {
  display: inline-block;
  white-space: pre-line;
  font-size: 28px;
  font-weight: bold;
  padding: 2%;
  margin: 0;
  line-height: 65px;
}
.banner > img {
  border-radius: 5px;
}
.Acerca {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 5%;
}
.Acerca h3 {
  text-align: center;
  padding-bottom: 5%;
  font-size: 2rem;
}
.content-acerca, .content-servicios, .content-portafolio, .footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
}
.content-acerca {
  padding-top: 3%;
}
.content-servicios {
  padding-top: 3%;
  padding-bottom: 3%;
}
.content-portafolio {
  padding-top: 3%;
  padding-bottom: 3%;
}
.footer {
  padding-top: 3%;
}
.about {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 250px;
  min-width: 250px;
  padding: 5%;
  text-align: justify;
  line-height: 25px;
  border-radius: 12px;
  border: 1px solid rgba(131, 134, 135, 0);
  transition: background 0.2s ease-in-out;
}
.n-services {
  padding: 2.8%;
  border-radius: 12px;
  border: 1px solid rgba(131, 134, 135, 0);
  transition: background 0.2s ease-in-out;
}
.about:hover, .n-services:hover {
  background: rgba(180, 185, 188, 0.5);
  border: 1px solid rgba(131, 134, 135, 0.5);
  cursor: pointer;
}
h2 {
  text-align: center;
  padding: 2% 0;
  font-size: 3rem;
}
.line {
  width: 90%;
  height: 1px;
  background: #c0c0c0;
  margin: 0 auto;
}
.n-services > figure {
  display: flex;
  flex-flow: column;
  cursor: pointer;
  gap: 20px;
}
.n-services-body {
  line-height: 25px;
}
.Portafolio-Images > figure {
  border: thin #c0c0c0 hidden;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 45.52352048558422vh;
  margin: auto;
  cursor: pointer;
  padding-top: 2%;
}
.n-services > figure > figcaption, .Portafolio-Images > figure > figcaption {
  background-color: #333;
  color: #c0c0c0;
  font: italic smaller sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding: 3px;
  text-align: center;
  margin-top: 3px;
  border-radius: 3px;
}
.Servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.n-services > figure > img {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
}
.Portafolio-Images {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  padding: 0 5%;
}
.Portafolio-Images > figure > img {
  height: 12rem;
  border-radius: 12px;
}
form {
  margin: 0 auto;
  width: 60.69802731411229vh;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  text-align: center;
}
form div + div {
  margin-top: 1em;
}
#form label {
  display: block;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
}
select {
  text-align: center;
}
input,
textarea,
select {
  outline: none;
  cursor: pointer;
  font: 1em sans-serif;
  width: 45.52352048558422vh;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid transparent;
  border-radius: 10px;
  height: 45px;
  line-height: 18px;
  padding: 10px;
}
input:focus,
textarea:focus {
  border-color: #0075FF;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}
textarea {
  vertical-align: top;
  height: 5em;
  resize: vertical;
}
button {
  width: 50%;
  height: 45px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background: #000;
  color: #fff;
  line-height: 45px;
}
button:hover {
  box-shadow: 4px 0px 30px rgba(163, 163, 163, 1);
}
input[type="email"] {
  -webkit-appearance: none;
  margin: 0;
  font-family: inherit;
  font-size: 90%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input:invalid {
  border-color: #900;
  background-color: #fdd;
}
.form-group-correcto .validation-status {
  color: #1ed12d;
  opacity: 1;
}
.form-group-incorrecto .validation-status {
  color: #bb2929;
  opacity: 1;
}
.form-group-incorrecto label {
  color: #bb2929;
}
.form-group-incorrecto .group-input input, .form-group-incorrecto .group-input textarea, .form-group-incorrecto .group-input select {
  border: 3px solid #bb2929;
}
.group-message {
  height: 45px;
  line-height: 45px;
  background: #F66860;
  padding: 0 15px;
  border-radius: 3px;
  display: none;
}
.group-message p {
  margin: 0;
  width: 45.52352048558422vh;
}
.group-message-activo {
  display: block;
}
.message-success {
  font-size: 14px;
  color: #119200;
  display: none;
}
.message-success-activo {
  display: block;
}
.input-error {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
  display: none;
}
.input-error-activo {
  display: block;
  color: #bb2929;
}
.validation-status {
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}
.Links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 2rem;
  font-size: 60px;
}
.Links a, .Links i {
  text-decoration: none;
  color: #4f614f;
  transition: transform 0.5s;
  cursor: pointer;
}
.Links a:hover, .Links i:hover {
  transform: translateY(-1rem);
}
.Links > .facebook {
  color: #0A82ED;
}
.Links > .instagram {
  color: #ffffff;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  border-radius: 20px;
}
.Links > .github {
  color: #ffffff;
  background: #000000;
  border-radius: 50%;
}
@keyframes slidein {
  from {
    margin-left: 99%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@media only screen and (max-width: 770px), (max-width: 1024px) {
  .content-acerca, .content-servicios, .content-portafolio, .footer {
    height: unset;
    padding-top: 0;
    padding-bottom: 0;
  }
  .header {
    padding-left: 30%;
  }
  .showheader {
    padding: 1% 40%;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .menu-icon {
    display: inline;
    cursor: pointer;
    color: #4f614f;
    font-size: 50px;
  }
  .navigation ul {
    display: none;
  }
  .navigation ul.show {
    display: flex;
    flex-direction: column;
  }
  .navigation ul li a {
    display: inline-block;
    transition: all 0.4s linear;
    border-radius: 15px;
  }
  .main {
    padding-top: 9vw;
  }
  .banner {
    justify-content: space-around;
  }
  .banner p {
    padding-top: 0;
  }
  .Servicios {
    padding: 15%;
  }
  .Servicios img {
    max-width: 350px;
    max-height: 350px;
  }
  .Servicios div {
    padding-left: 6%;
    padding-right: 6%;
  }
  form,
  input,
  button,
  textarea,
  select {
    width: 90%;
    align-content: center;
  }

  form {
    padding-left: 0;
    padding-right: 0;
  }
}
